#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 1; /* Reduce la opacidad para dar efecto de marca de agua */
    pointer-events: none; /* Evita que el video interfiera con la interacción del usuario */
  }

  .langar-regular {
    font-family: "Langar", serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbar {
    position: fixed; /* Fija la navbar en la parte superior */
    top: 0; /* Asegura que esté pegada al borde superior */
    width: 100%; /* Se extiende a lo largo de la página */
    z-index: 1030; /* Se asegura de estar por encima de otros elementos */
}
#background-video1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.09; /* Reduce la opacidad para dar efecto de marca de agua */
    pointer-events: none; /* Evita que el video interfiera con la interacción del usuario */
  }